@import "../utils/mixins";
@import "../utils/variables";

.btn {
&:hover{
    background-color:rgb(240, 156, 135);

}

  background-color: $primary-color;
  padding-top: 1rem;
  padding-bottom: 1rem; 
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  color: white;
  border: none;
  display: inline-block;
  text-align: center;
}
